<h1>Following List</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :following %>
      <%= f.text_area :following, class: 'form-control' %>

      <%= f.submit "update", class: "btn btn-large btn-primary" %>
    <% end %>
    
